@use "sass:math";

$red: hsl(0, 78%, 62%);
$cyan: hsl(180, 62%, 55%);
$orange: hsl(34, 97%, 64%);
$blue: hsl(212, 86%, 64%);

$very-dark-blue: hsl(234, 12%, 34%);
$grayish-blue: hsl(229, 6%, 66%);
$very-light-gray: hsl(0, 0%, 98%);

$font: 'Poppins', sans-serif;


@function rem($pxValue) {
    $remValue: math.div($pxValue, 16px) * 1rem;
    @return $remValue;
}

@mixin desktop {
    @media screen and (min-width: rem(992px)) {
        @content;
    }
}

%centering {
    margin-left: auto;
    margin-right: auto;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font;
    padding: 32px;
    background-color: $very-light-gray;
}
